$app-bg : #3e3e3e;
$app-text-color: #fff;
$app-danger: red;
$app-success: green;
$app-warning: orange;
$app-info: blue;
$app-content-bg: whitesmoke;
$app-brown: brown;
$app-primary-text: #000;
$app-secondary-text: #6b6b83;
$app-blue: #007bff;

